a, a:visited {
    color: var(--color-text);
    text-decoration: none;
}

a.clear-link, a.clear-link:visited {
    color: inherit;
    text-decoration: none;
}

.margin-top-0 { margin-top: 0; }
.margin-top-20 { margin-top: 20px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-20 { margin-right: 20px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-n15 { margin-left: -15px; }

.padding-left-10 { padding-left: 10px; }

.border-0 { border: 0 !important; }

.border-radius-0 { border-radius: 0 !important; }

.max-width-1440 {
    max-width: 1440px;
    width: 100%;
}

.justify-self-center { justify-self: center; }

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Nudge elements */
[class*="nudge-"] {
    position: relative;
}

.nudge-top-1 { top: 1px; }
.nudge-top-2 { top: 2px; }
.nudge-top-3 { top: 3px; }
.nudge-top-4 { top: 4px; }
.nudge-top-5 { top: 5px; }

