---
layout: project
title: Fast Topic Analysis
---
<section class="project-header">
    <div>
        <h1>🏷️ Fast Topic Analysis</h1>
        <p class="project-description">A tool for analyzing text against predefined topics using embeddings and cosine similarity.</p>
        <div class="project-links">
            <a href="https://github.com/jparkerweb/fast-topic-analysis" class="btn" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
    </div>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SsPKA2Sy1pE?si=CplCpLOlzd9w_mmT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <div class="project-hero-image">
        <img src="{{relative}}images/projects/fast-topic-analysis.jpg" alt="Fast Topic Analysis">
    </div>
</section>
