---
layout: project
title: Pixel Banner
---
<section class="project-header">
    <div>
        <h1>🚩 Pixel Banner</h1>
        <p class="project-description">Pixel Banner is a plugin for Obsidian that allows you to automatically add beautiful banner images to your notes using the Pexels/Pixabay APIs, direct URLs, or folder-specific settings. Enhance your note-taking experience with visually appealing headers that provide context and improve the overall aesthetics of your notes.</p>
        <div class="project-links">
            <a href="https://github.com/jparkerweb/pixel-banner" class="btn" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://obsidian.md/plugins?search=pixel%20banner" class="btn" target="_blank" rel="noopener noreferrer">Obsidian Plugin</a>
        </div>
    </div>
    <div class="project-hero-image">
        <img src="{{relative}}images/projects/pixel-banner.jpg" alt="Pixel Banner">
    </div>
</section>
