---
layout: project
title: Rich Foot
---
<section class="project-header">
    <div>
        <h1>🦶 Rich Foot</h1>
        <p class="project-description">Rich Foot is an Obsidian plugin that enhances your note footers with rich metadata, backlinks, and outgoing links. It helps you better understand the connections between your notes and maintain a well-organized knowledge base.</p>
        <div class="project-links">
            <a href="https://github.com/jparkerweb/rich-foot" class="btn" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://obsidian.md/plugins?id=rich-foot" class="btn" target="_blank" rel="noopener noreferrer">Obsidian Plugin</a>
        </div>
    </div>
    <div class="project-hero-image">
        <img src="{{relative}}images/projects/rich-foot.jpg" alt="Rich Foot">
    </div>
</section>
