---
layout: project
title: Semantic Chunking
---
<section class="project-header">
    <div>
        <h1>🍱 Semantic Chunking</h1>
        <p class="project-description">NPM Package for Semantically creating chunks from large texts. Useful for workflows involving large language models (LLMs).</p>
        <div class="project-links">
            <a href="https://github.com/jparkerweb/semantic-chunking" class="btn" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://www.npmjs.com/package/semantic-chunking" class="btn" target="_blank" rel="noopener noreferrer">NPM Package</a>
            <a href="https://semantic-chunking.equilllabs.com" class="btn" target="_blank" rel="noopener noreferrer">Web UI Demo</a>
        </div>
    </div>
    <div class="project-hero-image">
        <img src="{{relative}}images/projects/semantic-chunking.jpg" alt="Semantic Chunking">
    </div>
</section>
