---
layout: project
title: Trim Style
---
<section class="project-header">
    <div>
        <h1>✂️ Trim Style</h1>
        <p class="project-description">A lightweight tool that helps you clean and format CSS properties copied from browser dev tools. Simply right-click an element in Chrome's dev tools, select "Copy CSS", and paste it here to get clean, formatted CSS properties.</p>
        <div class="project-links">
            <a href="https://github.com/jparkerweb/trim-style" class="btn" target="_blank" rel="noopener noreferrer">GitHub</a>
                <a href="https://trim-style.equilllabs.com" class="btn" target="_blank" rel="noopener noreferrer">Web UI Demo</a>
        </div>
    </div>
    <div class="project-hero-image">
        <img src="{{relative}}images/projects/trim-style.gif" alt="Trim Style">
    </div>
</section>
